<div class="relative z-10 h-full flex-1 min-w-0 overflow-hidden bg-white">
  <iframe
    x-ref="previewPane"
    sandbox="allow-same-origin"
    class="w-full h-full border-0"
    x-effect="if (processedHtml) $refs.previewPane.srcdoc = processedHtml"></iframe>
  <div
    x-show="tutorialStep <= 4"
    x-transition:leave="transition ease-out duration-300"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
    class="absolute inset-0 z-10 pointer-events-none"
    style="background: rgba(255, 255, 255, 0.6);"></div>
</div>
