<div class="relative z-10 h-full overflow-hidden shrink-0 transition-[width] duration-300 ease-in-out"
  :style="{ width: sourceOpen ? '50%' : '0' }">
  <div class="flex flex-col h-full" style="min-width: 380px; background: #1e1e2e;">
    <div class="flex items-center gap-2 px-3 py-1.5 border-b" style="border-color: #313244;">
      <svg class="w-4 h-4" style="color: #a6adc8;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
      </svg>
      <span class="text-xs font-mono" style="color: #cdd6f4;">index.html</span>
    </div>
    <div class="flex-1 overflow-auto" x-ref="sourceScroll">
      <table class="w-full border-collapse font-mono text-[13px]">
        <template x-for="(line, i) in sourceLines" :key="i">
          <tr class="leading-6"
              style="transition: background-color 700ms, opacity 300ms;"
              :style="{
                backgroundColor: (line.prop && line.prop === lastEditedProp) || line.isNew ? 'rgba(252, 189, 1, 0.12)' : '',
                opacity: tutorialStep <= 4 && !line.isHeading ? 0.3 : 1,
              }">
            <td class="text-right select-none pr-4 pl-3 align-top"
                style="color: #6c7086; width: 1%; white-space: nowrap;"
                x-text="i + 1"></td>
            <td class="pr-4 align-top"
                style="color: #cdd6f4; white-space: pre;"
                x-text="line.text || ' '"></td>
          </tr>
        </template>
      </table>
    </div>
  </div>
</div>
