<div class="flex p-2 pl-4 space-x-2 border-b-2 border-black border-solid">
  <span class="w-2 h-2 bg-[#EA6053] rounded-full"></span>
  <span class="w-2 h-2 bg-[#F0B646] rounded-full"></span>
  <span class="w-2 h-2 bg-[#58BD4E] rounded-full"></span>
</div>
