<div class="relative z-10 h-full col-span-8 pb-8 overflow-y-auto text-center" :style="{ backgroundColor: backgroundColor }">
  <div class="min-h-[50px]">
    <img
      decoding="async"
      loading="lazy"
      :src="navbarImage"
      alt="Navigation Bar"
      class="w-full h-[50px]">
  </div>
  <div id="panel-main" class="flex flex-col h-auto min-h-[calc(100%-160px)] p-4 space-y-4 pt-9 pb-0">
    <template x-for="block in blocks" :key="block.contentId">
      <div :style="{ order: block.order }" :id="block.contentId">
        <template x-if="block.type === 'text-block'">
          <div class="mb-2">
            <h2
              class="mb-2 text-2xl font-bold uppercase editable-region"
              :id="block.headingId"
              contenteditable="true"
              x-effect="let h = block.heading; if (document.activeElement !== $el) $el.textContent = h"
              @input="block.heading = $el.textContent"></h2>
            <p
              class="editable-region"
              :id="block.contentId"
              style="white-space: pre-line;"
              contenteditable="true"
              x-effect="let c = block.content; if (document.activeElement !== $el) $el.innerText = c"
              @input="block.content = $el.innerText"></p>
          </div>
        </template>
        <template x-if="block.type === 'image-block'">
          <div class="mb-2">
            <img
              decoding="async"
              loading="lazy"
              class="object-contain w-full rounded-md h-60 editable-region"
              :src="block.image"
              @click="handleImageInputClick($event, block.id)"
              alt="Placeholder">
          </div>
        </template>
        <template x-if="block.type === 'button-block'">
          <div class="mb-2">
            <button
              :id="block.previewButtonId"
              class="px-4 py-2 mt-4 font-bold text-white rounded editable-region"
              :style="{ backgroundColor: block.buttonColor }"
              contenteditable="true"
              x-effect="let t = block.buttonText; if (document.activeElement !== $el) $el.textContent = t"
              @input="block.buttonText = $el.textContent"></button>
          </div>
        </template>
      </div>
    </template>
  </div>
  <div class="min-h-[82px] pt-4 px-4">
    <img
      decoding="async"
      loading="lazy"
      :src="footerImage"
      alt="Footer"
      class="w-full h-[82px]">
  </div>
</div>